// ====================================================================================
//                             PIPELINE PARAMETERS
// ====================================================================================

params {

    // --- REFERENCE & WDL ---
    ref_dir          = '/nfs/roberts/pi/pi_njl27/lt692/primate_ref_files/Refseq_chrM'
    global_ref_dir   = '/nfs/roberts/pi/pi_njl27/lt692/primate_ref_files/whole_genomes_final'
    ref_shift_8000_dir = '/nfs/roberts/pi/pi_njl27/lt692/primate_ref_files/Refseq_chrM_shift'
    shift_back_chain_dir = '/nfs/roberts/pi/pi_njl27/lt692/primate_ref_files/shift_back_chain'
    ref_interval_dir = '/nfs/roberts/pi/pi_njl27/lt692/primate_ref_files/interval'
    wdl_script       = '/home/lt692/project_pi_njl27/lt692/primate_mt_variant_calling/MitochondriaPipeline_multisample_autoLen.wdl'
    wdl_script_round2= '/home/lt692/project_pi_njl27/lt692/primate_mt_variant_calling/MitochondriaPipeline_multisample_autoLen_round2_NUMT.wdl'
    
    cram_dirs        = params.outdir
    numt_bed_dir     = '/nfs/roberts/pi/pi_njl27/lt692/numt_discovery/primate_results_numt_besthit_strict'
    numt_bed_suffix  = ".highconf_numt.bed"
    numt_ref_dir = null
    numt_fasta_suffix = ".original_numt.fa"
    strict_numt_ref = true

    round1_outdir = params.outdir
    round1_bam_subdir = "candidate_reads"
    round1_bam_suffix = ".with_mates.bam"

    round1_vcf_subdir = "round_1_variant_calling_decoy"
    round1_vcf_suffix = ".numt_decoy.clean.final.split.vcf"

    consensus_min_af = 0.95
    consensus_min_dp =  100
    consensus_filter_expr = "FMT/AF>=${params.consensus_min_af} && FMT/DP>=${params.consensus_min_dp}"

    // Official WDL interval files do not use buffer/padding.
    mt_interval_padding = 0
    mt_left_margin = 575
    mt_right_margin = 545

    // --- TOOLS ---
    cromwell_jar     = '/home/lt692/project_pi_njl27/lt692/cromwell-90.jar'
    picard_jar       = '/home/lt692/project_pi_njl27/lt692/picard.jar'
    haplocheck_jar   = '/home/lt692/project_pi_njl27/lt692/haplocheckCLI-master/haplocheckCLI.jar'
    gatk_jar         = '/home/lt692/project_pi_njl27/lt692/gatk-4.6.2.0/gatk-package-4.6.2.0-local.jar'

    // --- SHIFTING PARAMETERS ---
    mt_nc_start      = 576
    mt_right_pad     = 545
    mt_shift         = 8000

    // --- CROMWELL SLURM CONFIGURATION ---
    cromwell_options = [
        runtime_minutes: 1440,
        cpus: 8,
        memory: 32768,
        queue: ''
    ]

    cromwell_submit_rate_limit = 150
    
}

// ====================================================================================
//                             PROCESS & EXECUTOR
// ====================================================================================

profiles {

  cluster {

    // ----- Global process defaults for this profile (apply to all tasks) -----
    process {
      executor = 'slurm'             // run every task on Slurm


    withLabel: down_task {
      cpus   = 8
      memory = '8.GB'
      time   = '12h'
      // Load only what these steps need
      beforeScript = """
        module purge
        module load SRA-Toolkit/3.2.0-gompi-2024a 
      """
    }

    // ------------------------- GROUP 1: alignment/CRAM -----------------------
    withLabel: alignment_related {
      cpus   = 8
      time   = '24h'

      memory = { 32.GB * task.attempt } 
    
    // 错误处理策略
    errorStrategy = { task.exitStatus in [137, 140, 143] ? 'retry' : 'finish' }
    maxRetries = 1
      // Load only what these steps need
      beforeScript = """
        module purge
        module load BWA/0.7.18-GCCcore-13.3.0
        module load SAMtools/1.21-GCC-13.3.0
        module load BEDTools/2.31.1-GCC-13.3.0
        module load BCFtools/1.21-GCC-13.3.0
        module load Java/17.0.4
        echo "[NF] bwa:      \$(which bwa)"
        echo "[NF] samtools: \$(which samtools)"
      """
    }

    withLabel: merge_related {
      cpus   = 8
      memory = '32.GB'
      time   = '24h'
      // Load only what these steps need
      beforeScript = """
        module purge
        module load BWA/0.7.18-GCCcore-13.3.0
        module load SAMtools/1.21-GCC-13.3.0
        echo "[NF] bwa:      \$(which bwa)"
        echo "[NF] samtools: \$(which samtools)"
      """
    }

    // ------------------- GROUP 2: tiny helpers / JSON/TSV gen ----------------
    withLabel: generation_related {
      cpus   = 1
      memory = '1.GB'
      time   = '1h'
      beforeScript = """
        module purge
        module load Python/3.12.3-GCCcore-13.3.0
        module load SAMtools/1.21-GCC-13.3.0
        module load BCFtools/1.21-GCC-13.3.0
        module load HTSlib/1.21-GCC-13.3.0
        module load Java/17.0.4
        echo "[NF] python: \$(which python)"
      """
    }

    // ------------- GROUP 3: GATK/WDL running ----------
    withLabel: wdl_related {
      cpus   = 4
      memory = '8.GB'
      time   = '12h'
      beforeScript = """
        module purge
        module load BWA/0.7.18-GCCcore-13.3.0
        module load Java/17.0.4
        module load Python/3.12.3-GCCcore-13.3.0
        module load R/4.4.2
        echo "[NF] bwa:      \$(which bwa)"
        echo "[NF] java: \$(which java)"; java -version
      """
    }

    }
  }
}
executor {
    queueSize = 20
    submitRateLimit = '60/h'
}
